@page
@model Management.WebApp.Pages.Ordering.OrderModel
@{
    <p>Id: @Model.Order.Id</p>
    <p>Status: @Model.Order.Status</p>
    <p>Description: @Model.Order.Description</p>
    <p>Created: @Model.Order.Created</p>
}
